pre {
  text-align: left;
  background-color: #0d4948;
  border-radius: 20px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.copyButtonClass {
  position: fixed;
  top: 0px;
  right: 170px;
}

.transformButton {
  transform: translate(10px, 100px);
}

.componentTranslate {
  transform: translate(0, -80px);
}

.relativePosition {
  position: relative;
  float: right;
}

.shadowClass {
  box-shadow: 0px 0px 33px 11px rgba(245, 239, 239, 0.2);
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #0d4948;
  border-color: #0d4948 transparent #0d4948 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.codeDivClass {
  overflow: auto;
  max-height: 90vh;
}
